<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Detail</title>
    <style>
        a {
            color: blue;
            text-decoration-color: blue;
            text-decoration-style: unset;
        }
    </style>
</head>
<body>
<h1>도서 상세 페이지</h1>
<div>
    <h2>[[${book.title}]]</h2>
    <p>저자: [[${book.author}]]</p>
    <p>출판사: [[${book.publisher}]]</p>
    <p>장르: [[${book.genre}]]</p>
    <p>출판일: [[${book.publicationDate}]]</p>
    <img th:src="@{${book.image}}" width="200" alt="Book Image" />
</div>
<a th:href="@{/books/update/{id}(id=${book.id})}">도서 수정</a>
<a href="/books">목록으로 돌아가기</a>

<div class="container">
    <h1>리뷰 작성</h1>
    <form th:action="@{'/books/read/' + ${id}}" th:object="${review}" method="post">
        <div class="form-group">
            <label for="name">이름</label>
            <input type="text" class="form-control" id="name" th:field="*{userName}" required>
        </div>
        <br>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" th:field="*{content}" required></textarea>
        </div>
        <div class="form-group">
            <label for="rate">평점</label>
            <input type="text" class="form-control" id="rate" th:field="*{rate}" placeholder="0~10사이의 값을 입력해주세요" required>
        </div>
        <button type="submit" class="btn btn-primary">제출</button>
    </form>

    <h2>리뷰 목록</h2>
    <div th:if="${#lists.isEmpty(reviews)}">
        <p>아직 리뷰가 없습니다.</p>
    </div>
    <div th:unless="${#lists.isEmpty(reviews)}">
        <table class="table" th:border="2" style="text-align: center">
            <thead>
            <tr>
                <th>사용자</th>
                <th>내용</th>
                <th>평점</th>
                <th>작성 시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review : ${reviews}">
                <td th:text="${review.userName}">-</td>
                <td th:width="300" th:text="${review.content}">-</td>
                <td th:text="${review.rate}">-</td>
                <td th:text="${review.createdAt}">-</td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>