<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Loan List</title>
</head>
<body>
<h1>대여 목록</h1>
<th:block th:if="${#lists.isEmpty(loans)}">
    <p>현재 대여 정보가 없습니다.</p>
    <a th:href="@{/books}">돌아가기</a>
</th:block>
<th:block th:unless="${#lists.isEmpty(loans)}">
    <table th:border="1">
        <thead>
        <tr>
            <td>대여 번호</td>
            <td>책 번호</td>
            <td>대여자</td>
            <td>대여자 전화번호</td>
            <td>대여 상태</td>
            <td>대여 일자</td>
            <td>반납 일자</td>
            <td>수정</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="loan : ${loans}">
            <td><span th:text="${loan.id}"></span></td>
            <td><span th:text="${loan.bookId}"></span></td>
            <td><span th:text="${loan.borrowerName}"></span></td>
            <td><span th:text="${loan.borrowerPhoneNumber}"></span></td>
            <td>
                <span th:if="${loan.status == 'AVAILABLE'}">대여 가능</span>
                <span th:unless="${loan.status == 'AVAILABLE'}">대여 중</span>
            </td>
            <td><span th:text="${loan.loanDate}"></span></td>
            <td><span th:text="${loan.returnDate}"></span></td>
            <td><a th:href="@{/loans/update/{id}(id=${loan.id})}">수정</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/books}">돌아가기</a>
</th:block>
</body>
</html>