<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>

<body>

<h1>검색 결과</h1>

<table border="2" style="text-align: center">
    <tr>
        <td>책 번호</td>
        <td>도서 사진</td>
        <td>도서명</td>
        <td>저자</td>
        <td>수정</td>
        <td>삭제</td>
    </tr>
    <tr th:each="book : ${books}">
        <td> [[${book.id}]] </td>
        <td> <img th:src="@{${book.image}}" width="50" />  </td>
        <td> <a th:href="@{/books/read/{id}(id=${book.id})}">[[${m.title}]]</a> </td>
        <td> <a th:href="@{/books/read/{id}(id=${book.id})}">[[${m.author}]]</a> </td>
        <td> <a th:href="@{/books/update/{id}(id=${book.id})}">수정</a> </td>
        <td> <a th:href="@{/books/delete/{id}(id=${book.id})}">삭제</a> </td>
    </tr>
</table>

<a href="/books">돌아가기</a>

</body>
</html>
