<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>

<body>

<h1>검색 결과</h1>

<table border="2">
    <tr th:each="m : ${books}">
        <td> [[${m.id}]] </td>
        <td> <img th:src="@{${m.image}}" width="30" />  </td>
        <td> <a th:href="@{/read/{id}(id=${m.id})}">[[${m.title}]]</a> </td>
        <td> <a th:href="@{/update/{id}(id=${m.id})}">수정</a> </td>
        <td> <a th:href="@{/delete/{id}(id=${m.id})}">삭제</a> </td>
    </tr>
</table>

<a href="/books">돌아가기</a>

</body>
</html>
